<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B790DD4D1D90B75700111DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B790DD611D90B75700111DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B790DD6C1D90B75700111DD9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
